<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>My Makers Journey</title>
  <div class="topNav">
    <a id="home" href="#home">Home</a>
    <a id="about-me" href="#about_me">About me</a>
    <a id="my-journey" href="#my_journey">My Journey</a>
    <a id="comment" href="#comments">Comments</a>
  </div>
  <h1 class="welcome">
    Welcome to my Coding Journey!!!
  </h1>
  <p>
    My name is Eunice, and I am a Junior Engineer at the Financial Times. 
  </p>
</head>
<body>
  
</body>
</html>